# Переменные окружения для разработки


# Режим работы (development / production)
FLASK_ENV=development

# Секретный ключ JWT 
JWT_SECRET_KEY=your-super-secret-key-change-in-production


DATABASE_URL=sqlite:///flask_auth.db

# Хост и порт
HOST=0.0.0.0
PORT=5001
